name: Document deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: '0.4.34'

      - name: Install mdbook-plantuml
        uses: baptiste0928/cargo-install@v2
        with:
          crate: mdbook-plantuml
          version: "0.8.0"
          features:
            - "plantuml-server"

      - run: mdbook build ./impl-tls

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./impl-tls/book
